RewriteEngine on
RewriteBase /

# own error documents
# ErrorDocument 404 /de/3/404-page-not-found.html

# SEO: redirect to homepage when URL is blank domain
RewriteRule ^$ /de/1/Wolfgang-Braun.html [R=301,L]

# stop auto filename correction if enabled
#<IfModule mod_speling.c>
#    CheckSpelling Off
# </IfModule>

#### content-o-mat: start ####

# Content-o-mat: regular pages
RewriteRule ^([^/]*)\/([0-9]+)\/.*\.html$ index.php?pid=$2&lang=$1&%{QUERY_STRING}&cmtRequestURL=%{REQUEST_URI}

# MLog: article
RewriteRule ^([^/]*)\/([0-9]+)\/([^,]*),([0-9]{1,3}),([0-9]{1,2})?,([0-9]{1,6})\.html$ index.php?pid=$2&lang=$1&cp=$4&cat=$5&aid=$6&%{QUERY_STRING}&cmtRequestURL=%{REQUEST_URI}

# MLog: category
RewriteRule ^([^/]*)\/([0-9]+)\/([^/]*),([0-9]{1,3}),([0-9]{1,2})?\.html$ index.php?pid=$2&lang=$1&cp=$4&cat=$5&%{QUERY_STRING}&cmtRequestURL=%{REQUEST_URI}

# MLog: shortcut
RewriteRule ^([^/^.]*)$ index.php?pid=10&lang=de&shortcut=$1&%{QUERY_STRING}&cmtRequestURL=%{REQUEST_URI}

#### content-o-mat: end ####

# don't list *.inc, *.tpl (Templates) and .htaccess files
<FilesMatch "\.(htaccess|inc|tpl)$">
order deny,allow
deny from all
</FilesMatch>
