/**
 * main sass file
 */

@import "bourbon/bourbon";
@import "neat/neat";
@import "settings";

@import "icons";
@import "typography";
@import "layout";
@import "nav";
@import "prose";

/* Formerly: quickfix.css */
.author {
	display: none;
}


body {
	> dialog::backdrop,
	> dialog + .backdrop {
		background-color: rgba(0, 0, 0, 0.4);
	}

	> dialog {
		border: 0.01rem solid rgba(30, 30, 30, 0.2);
		border-radius: 3px;
		padding: 2rem 3rem;
	}
}
